{% extends '::menu.html.twig' %}
{% block contenido %}
<div class="container" align="middle" style="padding:40px;">
    <div class="jumbotron">
        <h1>
            <img src="{{ asset('images/secret_smile.png') }}" />
            Hacer esta página
        </h1>
    </div>


 </div>
{% endblock %}
