<li>
    <a href="#" title="Opciones del usuario"> <span class="fa fa-user fa-lg"></span> <span class="fa fa-cog fa-spin"></span><span class="caret"></span></a>
    <ul class="dropdown-menu">
        <li class="text-center">
            <img class="text-center" src="data:;base64, {{ app.user.imagen | trim}}" alt="Imágen personal" width="100px" height="100px">
        </li>
        <li class="container">
            <li class="text-center">
                <h4><strong>{{ app.user.username }}</strong></h4>
                <h4><small><span class="glyphicon glyphicon-envelope"></span>&nbsp;&nbsp;{{ app.user.email }}</small></h4>
            </li>
        </li>
        <li class="divider"></li>
        <li class="text-center">
            <a href="#"><span class="glyphicon glyphicon-edit"></span>&nbsp;&nbsp;Editar</a>
        </li>
        <li class="divider"></li>
        <li class="text-center">
            <a href="{{ url('logout') }}"> <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>&nbsp;&nbsp;Cerrar sesión </a>
        </li>
    </ul>
</li>
