<div class="clearfix" />
<footer class="text-center text-muted" style="position: fixed; bottom:0px; width:100%;">
    <hr>
    <div class="row">
        <div class="col-md-4">
            <!-- <img class="img-responsive" src="{{asset('images/logo_marca_tucuman_256.png')}}" alt="Logo" /> -->
        </div>
        <div class="col-md-4 text-xs-center">
            <h6>SISTEMA DE GESTION INTEGRAL DE NIÑEZ, ADOLESCENCIA Y FAMILIA (SIGEINAF)</h6>
            <br> Departamento de Informática. 2015 - 2016
            <br> Secretaría de Estado de Niñez, Adolescencia y Familia
        </div>
        <div class="col-md-4">
            <img class="img-fluid pull-right" src="{{asset('imagenes/bicentenario_independencia_256.png')}}" alt="Logo" />
        </div>
    </div>
</footer>
