<div class="row">
    <div class="col-md-5 pull-xs-left">
        <img class="isi-usr-avatar" src='data:;base64, {{ app.user.imagen | trim}}' alt="Avatar">
    </div>
    <div class="col-md-5 pull-xs-left" style="padding-top:50px;">
        <div class="btn-group">
            <a href="#" style="text-decoration:none;" class="dropdown-toggle text-muted" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ app.user.username | trim}}
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Preferencias</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{{ url('logout') }}">Cerrar sesión</a>
            </div>
        </div>
    </div>
</div>
<div class="row" style="padding-left:15px;">
    <p class="text-primary"><i class="fa fa-envelope-o" aria-hidden="true"></i> {{ app.user.email | trim}}</p>
</div>
