<div id="isi_div-siguenos" class="inf_div-menu">
    <label class="inf_filtrable" name="lnk_opc-menu" for="isi_div-siguenos">siguenos síguenos facebook twitter compartir share</label>
    <a class="list-group-item" href="#">
        Síguenos <i class="fa fa-share-alt fa-2x pull-xs-right" aria-hidden="true"></i>
    </a>
</div>
{#<a class="mdl-navigation__link" href="{{url('isi_persona_estadoCivil')}}"><i class="isi_icono_link_ctrado material-icons">location_city</i>Estado Civil</a>
<a class="mdl-navigation__link" href="{{url('isi_persona_identGenero')}}"><i class="isi_icono_link_ctrado material-icons">fingerprint</i>Identidad de Género</a>
<a class="mdl-navigation__link" href="{{url('isi_persona_lugarNacim')}}"><i class="isi_icono_link_ctrado material-icons">pregnant_woman</i>Lugar de Nacimiento</a>
<a class="mdl-navigation__link" href="{{url('isi_config_personaNueva')}}"><i class="isi_icono_link_ctrado material-icons">person_add</i>Personas</a>#}
