<div id="isi_div-legajos" class="inf_div-menu">
    <label class="inf_filtrable" name="lnk_opc-menu" for="isi_div-legajos">siale legajos menores</label>
    <a class="list-group-item" href="{{ url('isf_consulta_legMotOrigPers') }}">
        S. I. A. Le. <i class="fa fa-folder-open fa-2x pull-xs-right" aria-hidden="true"></i>
    </a>
</div>
