<div class="input-group" style="padding-bottom:15px; padding-top:5px;">
    <input id="inf_inp_txt_busq-menu" name="lnk_opc-menu" type="text" class="form-control inf_filtrar" placeholder="busque una opción">
    <div class="input-group-addon"><i class="fa fa-search" aria-hidden="true"></i></div>
</div>
<div id="inf_div-menu-inicio" class="inf_div-menu">
    <label class="inf_filtrable" name="lnk_opc-menu" for="inf_div-menu-inicio">inicio principio home casa</label>
    <a class="list-group-item" href="{{ url('isf_publico_homepage') }}">
        Inicio <i class="fa fa-home fa-2x pull-xs-right" aria-hidden="true"></i>
    </a>
</div>
