{% extends '::base.html.twig' %}
{% block contenido%}
    <!-- <img src="{{ asset('images/logo_senayf_color.png') }}" height="400" width="1000"/> -->
<div class="container-fluid">
    <!-- <img class="img-fluid" src="{{ asset('imagenes/clic_aqui.png') }}" style="width:150px; margin-top:-20px; margin-left:40px;"/> -->
    <br><br><br><br><br><br>
    <img class="img-fluid center-block" src="{{ asset('imagenes/logo_senayf_color.png') }}" />
    <!-- <br><br><br><br> -->
</div>
{% endblock %}
{% block pie%}
    {% include '::piePagina.html.twig' %}
{% endblock %}
