{% extends '::base.html.twig' %}
{% block contenido%}
    <!-- <img src="{{ asset('images/logo_senayf_color.png') }}" height="400" width="1000"/> -->
<div class="container-fluid">
    <br><br><br><br><br>
    <img class="img-responsive" src="{{ asset('images/logo_senayf_color.png') }}" />
    <br><br><br><br><br>
</div>
{% endblock %}
